assets/auron/curr_hp.txt
assets/auron/curr_mp.txt
assets/auron/max_hp.txt
assets/auron/max_mp.txt
assets/auron/slvl.txt
assets/auron/tslvl.txt
assets/kimahri/curr_hp.txt
assets/kimahri/curr_mp.txt
assets/kimahri/max_hp.txt
assets/kimahri/max_mp.txt
assets/kimahri/slvl.txt
assets/kimahri/tslvl.txt
assets/auron/curr_hp.txt
assets/auron/curr_mp.txt
assets/auron/slvl.txt
assets/auron/tslvl.txt
assets/kimahri/curr_hp.txt
assets/kimahri/curr_mp.txt
assets/kimahri/slvl.txt
assets/kimahri/tslvl.txt
assets/lulu/curr_mp.txt
assets/lulu/max_hp.txt
assets/lulu/curr_hp.txt
assets/lulu/max_mp.txt
assets/lulu/slvl.txt
assets/lulu/tslvl.txt
assets/rikku/curr_hp.txt
assets/rikku/max_hp.txt
assets/rikku/tslvl.txt
assets/rikku/max_mp.txt
assets/tidus/curr_hp.txt
assets/tidus/curr_mp.txt
assets/tidus/max_hp.txt
assets/tidus/max_mp.txt
assets/tidus/slvl.txt
assets/tidus/tslvl.txt
assets/wakka/curr_hp.txt
assets/wakka/curr_mp.txt
assets/wakka/max_mp.txt
assets/wakka/max_hp.txt
assets/wakka/slvl.txt
assets/wakka/tslvl.txt
assets/yuna/curr_hp.txt
assets/yuna/max_hp.txt
assets/yuna/curr_mp.txt
assets/yuna/tslvl.txt
assets/yuna/max_mp.txt
assets/yuna/slvl.txt
assets/battle.txt
assets/gil.txt
assets/time.txt
